/*body {
    background-color: #EFEFEF;
}*/

.page-products {
    width: 94%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
@media only screen and (max-width: 600px) {
  .page-products {width: 100%;}
}